<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.fxqq.hippo.dao.ext.ComplexOrderExtMapper">

	<resultMap id="BaseResultMap" type="cc.fxqq.hippo.entity.ComplexOrder">
	    <result column="account_id" jdbcType="INTEGER" property="accountId" />
	    <result column="ticket" jdbcType="VARCHAR" property="ticket" />
	    <result column="open_time" jdbcType="VARCHAR" property="openTime" />
	    <result column="close_time" jdbcType="VARCHAR" property="closeTime" />
	    <result column="symbol" jdbcType="VARCHAR" property="symbol" />
	    <result column="lots" jdbcType="DECIMAL" property="lots" />
	    <result column="commission" jdbcType="DECIMAL" property="commission" />
	    <result column="swap" jdbcType="DECIMAL" property="swap" />
	    <result column="profit" jdbcType="DECIMAL" property="profit" />
	    <result column="real_profit" jdbcType="DECIMAL" property="realProfit" />
	    <result column="type" jdbcType="VARCHAR" property="type" />
	    <result column="open_price" jdbcType="VARCHAR" property="openPrice" />
	    <result column="close_price" jdbcType="VARCHAR" property="closePrice" />
	    <result column="stop_loss" jdbcType="VARCHAR" property="stopLoss" />
	    <result column="take_profit" jdbcType="VARCHAR" property="takeProfit" />
	    <result column="comment" jdbcType="VARCHAR" property="comment" />
	    <result column="status" jdbcType="VARCHAR" property="status" />
	    <result column="parent_ticket" jdbcType="VARCHAR" property="parentTicket" />
	  </resultMap>

	<sql id="Base_Column_List">
		*
	</sql>

	<select id="selectPage" parameterType="cc.fxqq.hippo.entity.param.OrderParam" 
			resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from complex_order
	    <include refid="cond" />
	    <if test="orderBy != null">
			order by ${orderBy}
		</if>
	    <if test="page > 0">
        	 limit #{startRecord} , #{rows}
        </if>
	  </select>

	<select id="selectTotal" resultType="int">
		select count(*) from complex_order
		<include refid="cond" />
	</select>

	<sql id="cond">
		where account_id = #{accountId}
		<if test="parentTicket != null and parentTicket != ''">
			and parent_ticket = #{parentTicket}
		</if>
		<if test="symbol != null and symbol != ''">
			and symbol = #{symbol}
		</if>
		<if test="ticket != null and ticket != ''">
			and ticket = #{ticket}
		</if>
		<if test="status != null and status != ''">
			and status = #{status}
		</if>
		<if test="openStartDate != null and openEndDate != null">
			and date(close_time) BETWEEN #{openStartDate} and #{openEndDate}
		</if>
		<if test="closeStartDate != null and closeEndDate != null">
			and date(close_time) BETWEEN #{closeStartDate} and #{closeEndDate}
		</if>
	</sql>

	<insert id="replaceBatch">
		replace into complex_order (
		`account_id`,
		`ticket`,
		`open_time`,
		`close_time`,
		`symbol`,
		`lots`,
		`commission`,
		`swap`,
		`profit`,
		`real_profit`,
		`type`,
		`open_price`,
		`close_price`,
		`stop_loss`,
		`take_profit`,
		`comment`,
		`status`,
		`parent_ticket`
		)
		VALUES
		<foreach collection="list" close="" index="index" item="item"
			open="" separator=",">
			(
			#{item.accountId},
			#{item.ticket},
			#{item.openTime},
			#{item.closeTime},
			#{item.symbol},
			#{item.lots},
			#{item.commission},
			#{item.swap},
			#{item.profit},
			#{item.realProfit},
			#{item.type},
			#{item.openPrice},
			#{item.closePrice},
			#{item.stopLoss},
			#{item.takeProfit},
			#{item.comment},
			#{item.status},
			#{item.parentTicket}
			)
		</foreach>
	</insert>

</mapper>