
<!doctype html>

<!--注意：引入thymeleaf的名称空间-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>历史</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/my.css} "/>
    
    <script type="text/javascript" th:src="@{/js/jquery-3.6.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.1.js}"></script>
    <script>
    $(function() {

    	$("#sel2").change(function() {
    		var lots = $("#sel2").val();
    		
    		$("#lots").val(lots);
        	$("#form2").submit();
    	});
    	
    	$("a").click(function(evt) {
    		evt.stopPropagation();
    	});

    });
    </script>
</head>
<body>
<table>
	<table style="margin: 0 8px 0 8px;">
		<tr style="height:10px;">
			<td colspan="3" style="width:100%;"><hr style="border: dotted 0.7px silver;">
			</td>
		</tr>
		<tr style="height:25px;">
			<td colspan="3" style="text-align:center;width:100%;padding:0 10px 0 10px;">
				<div th:insert="common::account"></div>
			</td> 	
		</tr>
		<tr style="height:10px;">
			<td colspan="3" style="width:100%;"><hr style="border: dotted 0.7px silver;">
			</td>
		</tr>
		<tr style="height:10px;">
			<td colspan="3" style="width:100%;text-align:left;padding:0 0 0 10px;">
				<div th:insert="common::nav"></div>
			</td>
		</tr>
    	<tr style="height:10px;">
	    	<td colspan="3" style="width:100%;"><hr style="border: dotted 0.7px silver;">
	    	</td>
	    </tr>
	    <tr th:if="${markets!=null}" >
			<td colspan="2" style="width:53%;text-align:left;">
				<span th:text="${serverTime}">
					
				</span>
			</td>
			<td colspan="2" style="text-align:center;padding: 0 10px 0 10px">
				<form id="form2" name="form2" action="market">
			    	<input type="hidden" th:value="${account}" name = "account"/>
			    	<select id="sel2" name="path" class="last_center" onChange="form1.submit();">
						<option th:selected="${'hot' == path}" value="hot">常用</option>
						<option th:selected="${'all' == path}" value="all">全部</option>
			    		<option th:selected="${path == item}" th:each="item : ${pathList}" th:value="${item}" th:text="${item}"></option>
				    </select>
		    	</form>
			</td>
		</tr>
		<tr th:if="${markets!=null}"  style="height:10px;">
	    	<td colspan="3" style="width:100%;"><hr style="border: dotted 0.7px silver;">
	    	</td>
	    </tr>
	    <tr th:if="${subfixList!=null}" >
			<td colspan="4" style="text-align:center;padding: 0 10px 0 10px">
				<!-- <a th:href="'market?account=' + ${account}" >全部</a>&nbsp;&nbsp; -->
				<span th:each="item : ${subfixList}">
					<a th:if="${subfix != item}" th:href="'market?account=' + ${account} + '&subfix=' + ${item} + '&path=' + ${path}" th:text="${'&nbsp;' + item + '&nbsp;'}"></a>
					<span th:if="${subfix == item}" th:text="${'&nbsp;' + subfix + '&nbsp;' }"></a>
				</span>
			</td>
			
		</tr>
    	<tr th:if="${subfixList!=null}" style="height:10px;">
	    	<td colspan="3" style="width:100%;"><hr style="border: dotted 0.7px silver;">
	    	</td>
	    </tr>
	    <tr>
    	<td th:if="${markets != null}" >
    		<table th:each="item : ${markets}">
	    	<tr>
		        <td width="34%" style = "text-align:center;" >
			        <span th:if="${item.allowTrade}" style="font-size: 18px;font-weight:bold"th:text="${item.symbol}"></span>
			        <span th:if="${!item.allowTrade}" style="color:gray;font-size: 20px;font-weight:bold"th:text="${item.symbol}"></span>
		        </td>
		        <td style="width:33%;text-align:center;">
        			<span th:if="${!item.allowTrade}">
        				<span style="color:gray;font-size: 18px;" th:text="${item.sellPrice}"></span>
        			</span>
		        	<span th:if="${item.allowTrade}">
		        		<span th:if="${item.openD1Diff > 0}" class="g" style="font-weight:bold;font-size: 18px;" th:text="${item.sellPrice}"></span>
		        		<span th:if="${item.openD1Diff < 0}" class="r" style="font-weight:bold;font-size: 18px;" th:text="${item.sellPrice}"></span>
		        		<span th:if="${item.openD1Diff == 0}" th:text="${item.sellPrice}" style="font-weight:bold;font-size: 18px;"></span>
		        	</span>
        		</td>
		        <td style="width:33%;text-align:center;">
		        	<span th:if="${!item.allowTrade}"><span style="color:gray" th:text="${item.openD1Diff}"></span></span>
		        	<span th:if="${item.allowTrade}">
		        		<span th:if="${item.openD1Diff > 0}" class="g"  style="font-weight:bold;font-size: 18px;"  th:text="${item.openD1Diff}"></span>
		        		<span th:if="${item.openD1Diff < 0}" class="r"  style="font-weight:bold;font-size: 18px;" th:text="${item.openD1Diff}"></span>
		        		<span th:if="${item.openD1Diff == 0}" th:text="${item.openD1Diff}"></span>
		        	</span>
		        </td>
		    </tr>
		    <tr>
		        <td width="34%" style = "text-align:center;" >
		        	<span th:text="${item.pointProfitStr}"></span>
		        </td>
		        <td style="width:33%;text-align:center;">
        			<span th:text="${item.lowPrice}"></span>
        		
        		</td>
		        <td style="width:33%;text-align:center;">
		       		<span th:text="${item.highPrice}"></span>
		        </td>
		    </tr>
		    <tr>
		        <td width="34%" style = "text-align:center;" >
		        	<span th:text="${item.requiredMarginStr}"></span>
		        </td>
		        <td style="width:33%;text-align:center;">
        			<span th:if="${item.sellSwapProfit >= 0}"  th:text="${item.sellSwapProfitStr}"></span>
        			<span th:if="${item.sellSwapProfit < 0}"  th:text="${item.sellSwapProfitStr}"></span>
        		
        		</td>
		        <td style="width:33%;text-align:center;">
		       		<span th:if="${item.buySwapProfit >= 0}" th:text="${item.buySwapProfitStr}"></span>
		       		<span th:if="${item.buySwapProfit < 0}" th:text="${item.buySwapProfitStr}"></span>
		        </td>
		    </tr>
       		<tr style="height:10px;">
		    	<td colspan="3" style="width:100%;"><hr style="border: dotted 0.7px silver;">
		    	</td>
		    </tr>
	    </table>
    	</td>
    	</tr>
	</table>
</body>
</html>