<!doctype html>

<!--注意：引入thymeleaf的名称空间-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>收益</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/my.css} "/>

    <script type="text/javascript" th:src="@{/js/jquery-3.6.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/jsrender.min.js}"></script>
    
    <script id="orders_tmpl" type="text/x-jsrender">
        {{for orders}}
      <table>
		<tr class="orderDetail">
			<td style="text-align: left;padding: 0 10px 0 10px;width:75%">
				<span >{{:symbol}}</span>, 
				<span class="{{:typeColor}}"
					>{{:typeStr}}</span> 
				<span  class="{{:typeColor}}"
					>{{:lots}}</span>
			</td>
			<td  style="padding: 0 10px 0 10px; text-align: right;width:25%;">
				<span class="{{:profitColor}}">{{:profit}}</span>
			</td>
		</tr>
		<tr class="orderDetail" >
			<td style="text-align: left;width:75%;padding: 0 10px 0 10px">
				<span style="font-size:17px;">{{:closePrice}}</span> 
			</td>
			<td style="padding: 0 10px 0 10px; text-align: right;width:25%;">
				
			</td>
		</tr>
		<tr style="height:6px;">
			<td colspan="3" style="width:100%;"><hr style="border: dotted 0.7px silver;">
			</td>
		</tr>
		
	</table>
        {{/for}}
	</script>
	<script id="blank_tmpl" type="text/x-jsrender">
        <table>
				    <tr>
						<td style="text-align:center;">
							-
						</td>
					</tr>
				</table>
	</script>
    <script>
    function createSocket() {
    	var accountId = $("#accountId").val();
    	var url = "ws://121.41.119.155//ws?accountId=" + accountId;
    	//var url = "ws://localhost//ws?accountId=" + accountId;
        var websocket;
        if ('WebSocket' in window) {
            websocket = new WebSocket(url);
        } else if ('MozWebSocket' in window) {
            websocket = new MozWebSocket(url);
        }
        websocket.onopen = function (evnt) {
        };
        websocket.onmessage = function (evnt) {
        	var data = $.parseJSON(evnt.data);

        	$("#equity").html(data.equity);
        	$("#totalProfit").attr("class", data.profitColor).html(data.profit);
        	$("#serverTime").html(data.serverTime);
        	
        	if (data.trading.length > 0) {
        		$("#orderPanel").html($("#orders_tmpl").render({orders: data.trading}));
        	} else {
            	$("#orderPanel").html($("#blank_tmpl").render({}));
        	}
        	
        };
        websocket.onerror = function (evnt) {
        	createSocket();
        };
        websocket.onclose = function (evnt) {
            createSocket();
        }
    }
    
    $(function() {
    	//createSocket();
    	
    	$(".orderDetail").click(function() {
    		$(this).parent().children(".moreInfo").toggle();
    	});
    });
    
    
    </script>
</head>
<body>
	<input type="hidden" id="accountId" th:value="${account}"/>
	<table style="margin: 0 8px 0 8px;">
		<tr style="height:10px;">
			<td colspan="3" style="width:100%;"><hr style="border: dotted 0.7px silver;">
			</td>
		</tr>
		<tr style="height:25px;">
			<td colspan="3" style="text-align:center;width:100%;padding:0 10px 0 10px;">
				<div th:insert="common::account"></div>
			</td> 	
		</tr>
		<tr style="height:10px;">
			<td colspan="3" style="width:100%;"><hr style="border: dotted 0.7px silver;">
			</td>
		</tr>
		<tr style="height:10px;">
			<td colspan="3" style="width:100%;text-align:left;padding:0 0 0 10px;">
				<div th:insert="common::nav"></div>
			</td>
		</tr>
		<tr style="height:10px;">
			<td colspan="3" style="width:100%;"><hr style="border: dotted 0.7px silver;">
			</td>
		</tr>
		<tr>
			<td th:class="${statusColor}" style="width:45%;text-align:left;padding: 0 10px 0 10px;">
				盈亏：<span style="font-weight:bold;" th:class="${position.profitColor}" th:text="${position.profit}"></span>
			</td>
			<td style="width:55%;text-align:right;padding: 0 10px 0 10px;">
				</span>净值：<span id="equity" th:text="${position.equity}"></span>
			</td>
		</tr>
		<!-- <tr th:if="${position.trading != null && position.trading.size > 0}">
			<td th:class="${statusColor}" style="width:45%;text-align:left;padding: 0 10px 0 10px;">
				预付款:
			</td>
			<td style="width:55%;text-align:right;padding: 0 10px 0 10px;">
				<span id="equity" th:text="${position.margin}"></span>&nbsp;/&nbsp;<span th:text="${position.marginLevel}"></span>
			</td>
		</tr> -->
		<tr style="height:10px;">
			<td colspan="3" style="width:100%;"><hr style="border: dotted 0.7px silver;">
			</td>
		</tr>
		<tr style="height:6px;">
	    	<td style="width:100%; background:silver;text-align:left;padding: 0 10px 0 10px;">
	    		价位
	    	</td>
	    	<td style="width:100%; background:silver;text-align:right;padding: 0 10px 0 10px;">
	    		
	    	</td>
	    </tr>
		<tr th:if="${position.trading != null && position.trading.size >= 0}" style="height:10px;">
			<td colspan="3" style="width:100%;"><hr style="border: dotted 0.7px silver;">
			</td>
		</tr>
		<tr th:if="${position.trading != null && position.trading.size > 0}">
			<td th:class="${statusColor}" style="width:50%;text-align:left;padding: 0 10px 0 10px;">
				今日过夜费：
			</td>
			<td style="text-align:right;width:50%;padding: 0 10px 0 10px;">
				<span th:text="${position.todaySwap}"></span>
			</td>
		</tr>
		<tr th:if="${position.trading != null && position.trading.size > 0}">
			<td  >
				<table th:each="item : ${position.trading}">
				    <tr style="height:10px;">
						<td colspan="3" style="width:100%;"><hr style="border: dotted 0.7px silver;">
						</td>
					</tr>
					<tr class="orderDetail">
						<td style="text-align: left;padding: 0 10px 0 10px;width:75%">
							<span style="font-weight:bold;" th:text="${item.symbol}"></span>
							<span style="font-weight:bold;" th:class="${item.typeColor}"
								th:text="${item.typeStr}"></span> 
							<span style="font-weight:bold;" th:class="${item.typeColor}"
								th:text="${item.lots}"></span>
						</td>
						<td  style="padding: 0 10px 0 10px; text-align: right;width:25%;">
							<span th:class="${item.profitColor}" style="font-weight:bold;" th:text="${item.profit}"></span>
						</td>
					</tr>
					 <tr class="orderDetail" >
						<td style="text-align: left;width:75%;padding: 0 10px 0 10px">
							<span  style="font-size:17px;" th:text="${item.closePrice}"></span>
						</td>
						<td style="padding: 0 10px 0 10px; text-align: right;width:25%;">
							<span class="orderNum"><span th:text="${item.orderNum}"></span>个订单</span>
						</td>
					</tr> 
					<!-- <tr class="orderDetail" >
						<td style="text-align: left;padding: 0 10px 0 10px">
							<span >最大亏损:</span>
						</td>
						<td style="padding: 0 10px 0 10px; text-align: right;">
							<span class="r" th:text="${item.maxLoss}"></span>
						</td>
					</tr> 
					<tr class="orderDetail" >
						<td style="text-align: left;padding: 0 10px 0 10px">
							<span >最大获利:</span>
						</td>
						<td style="padding: 0 10px 0 10px; text-align: right;">
							<span class="g" th:text="${item.maxProfit}"></span>
						</td>
					</tr>  -->
					<tr style="height:8px;">
				    	<td colspan="3" style="width:100%;">
				    	</td>
				    </tr>
					<tr class="moreInfo" th:each="order : ${item.orders}" style="display:none">
						<td>
							<table >
								
								<tr style="margin: 0 5px 0 5px">
									<td class="sltp" style="text-align: left;padding: 0 5px 0 5px;">
										<span th:text="${order.symbol}"></span>&nbsp;
										<span th:class="${order.typeColor}"
											th:text="${order.typeStr}"></span> 
										<span th:class="${order.typeColor}"
											th:text="${order.lots}"></span>
									</td>
									<td style="text-align:right;padding: 0 15px 0 15px" >
										<span th:class="${order.profitColor}" th:text="${order.profit}"></span>
									</td>
								</tr>
								<tr style="margin: 0 5px 0 5px;">
									<td class="sltp" style="text-align: left;width:75%;padding: 0 5px 0 5px">
										<span  th:text="${order.openPrice}"></span>→<span
										 th:text="${order.closePrice}"></span> 
									</td>
									<td style="padding: 0 15px 0 0; text-align: right;width:25%;">
										<span style="font-size: 15px;" th:text="${order.points}"></span>
									</td>
								</tr>
								<!-- <tr style="margin: 0 5px 0 5px">
									<td class="sltp"  style="text-align: left;padding: 0 5px 0 5px"><span
										>手续费：</span></td>
									<td style="text-align: right;"><span
										 th:text="${order.commission}"></span></td>
									<td style="text-align: left;padding: 0 0 0 10px"><span
										>过夜费：</span></td>
									<td style="text-align: right;padding: 0 15px 0 0"><span
										th:text="${order.swap}"></span></td>
								</tr> -->
								<tr style="margin: 0 5px 0 5px">
									<td class="sltp" style="width:20%;text-align: left;padding: 0 5px 0 5px">
										<span >止损:</span>
									</td>
									<td  colspan="3"  style="padding: 0 15px 0 0; text-align: right;">
										<span th:text="${order.stopLoss}"></span>
										<span th:if="${order.maxLoss != null}">
										&nbsp;/&nbsp;
										<span th:text="${order.maxLoss}"></span></span>
									</td>
								</tr>
								<tr style="margin: 0 5px 0 5px">
									<td class="sltp" style="width:20%;text-align: left;padding: 0 5px 0 5px">
										<span >止盈:</span>
									</td>
									<td colspan="3" style="padding: 0 15px 0 0; text-align: right;">
										<span th:text="${order.takeProfit}"></span>
										<span th:if="${order.maxProfit != null}">
										&nbsp;/&nbsp;
										<span th:text="${order.maxProfit}"></span></span>
									</td>
								</tr> 
								<!-- <tr style="margin: 0 5px 0 5px">
									<td class="sltp" colspan="2" style="width:40%;text-align: left;padding: 0 5px 0 5px">
										<span >今日过夜费:</span>
									</td>
									<td colspan="2" style="padding: 0 15px 0 0; text-align: right;">
										<span th:text="${order.todaySwap}"></span>
									</td>
								</tr>
								<tr style="margin: 0 5px 0 5px">
									<td class="sltp" colspan="2" style="width:40%;text-align: left;padding: 0 5px 0 5px">
										<span >预付款:</span>
									</td>
									<td colspan="2" style="padding: 0 15px 0 0; text-align: right;">
										≈ <span th:text="${order.margin}"></span>
									</td>
								</tr>  -->
								<tr style="height:5px;">
							    	<td colspan="3" style="width:100%;">
							    	</td>
							    </tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	    <tr  style="height:10px;">
			<td colspan="3" style="width:100%;"><hr style="border: dotted 0.7px silver;">
			</td>
		</tr>
		<tr style="height:4px;">
	    	<td style="width:100%; background:silver;text-align:left;padding: 0 10px 0 10px;">
	    		挂单
	    	</td>
	    	<td style="width:100%; background:silver;text-align:right;padding: 0 10px 0 10px;">
	    		<!-- <a target="_blank" th:href="'pendingOrder?account=' + ${account}" >历史</a> -->
	    	</td>
	    </tr>
	    <tr th:if="${position.pending != null && position.pending.size >= 0}" style="height:10px;">
			<td colspan="3" style="width:100%;"><hr style="border: dotted 0.7px silver;">
			</td>
		</tr>
		<tr th:if="${position.pending != null && position.pending.size > 0}">
			<td style="width:50%;text-align:left;padding: 0 10px 0 10px;">
				占用预付款：
			</td>
			<td style="text-align:right;width:50%;padding: 0 10px 0 10px;">
				≈  <span th:text="${position.pendingMargin}"></span>
			</td>
		</tr>
	    <tr>
			<td th:if="${position.pending != null && position.pending.size > 0}" >
				<table th:each="item : ${position.pending}">
					<tr style="height:10px;">
						<td colspan="3" style="width:100%;"><hr style="border: dotted 0.7px silver;">
						</td>
					</tr>
					<tr class="orderDetail">
						<td colspan="3" style="text-align: left;padding: 0 10px 0 10px;width:75%">
							<span style="font-weight:bold;" th:text="${item.symbol}"></span>
							<span style="font-weight:bold;" th:class="${item.typeColor}"
								th:text="${item.typeStr}"></span> 
							<span style="font-weight:bold;" th:class="${item.typeColor}"
								th:text="${item.lots}"></span>
						</td>
						<td  style="padding: 0 10px 0 10px; text-align: right;width:25%;">
							<span  th:text="${item.openPrice}"></span>
						</td>
					</tr>
					 <tr >
						<td style="text-align: left;width:75%;padding: 0 10px 0 10px">
							<span  style="font-size:17px;" th:text="${item.closePrice}"></span>
						</td>
						<td style="padding: 0 10px 0 10px; text-align: right;width:25%;">
						</td>
					</tr> 
					<tr  class="moreInfo" style="display:none">
						<td style="text-align: left;padding: 0 10px 0 10px">
							<span >止损:</span>
						</td>
						<td colspan="3" style="padding: 0 10px 0 10px; text-align: right;">
							<span th:text="${item.stopLoss}"></span>
							<span th:if="${item.maxLoss != null}">
							&nbsp;/&nbsp;
							<span th:text="${item.maxLoss}"></span></span>
						</td>
						
					</tr> 
					<tr class="moreInfo" style="display:none">
						<td style="text-align: left;padding: 0 10px 0 10px">
							<span >止盈:</span>
						</td>
						<td colspan="3" style="padding: 0 10px 0 10px; text-align: right;">
							<span th:text="${item.takeProfit}"></span>
							<span th:if="${item.maxProfit != null}">&nbsp;/&nbsp;
							<span th:text="${item.maxProfit}"></span></span>
							
						</td>
					</tr> 
					<!-- <tr class="moreInfo" style="display:none">
						<td colspan="2" style="text-align: left;padding: 0 10px 0 10px">
							<span >预付款:</span>
						</td>
						<td colspan="2" style="padding: 0 10px 0 10px; text-align: right;">
							≈  <span th:class="${item.marginColor}"  th:text="${item.margin}"></span>
						</td>
					</tr>  -->
				</table>
			</td>
		</tr>
		
		    <tr style="height:10px;">
				<td colspan="3" style="width:100%;"><hr style="border: dotted 0.7px silver;">
				</td>
			</tr>
	</table>
</body>
</html>