
<!doctype html>

<!--注意：引入thymeleaf的名称空间-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>历史</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/my.css} "/>
    
    <script type="text/javascript" th:src="@{/js/jquery-3.6.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.1.js}"></script>
    <script>
    $(function() {
    	$("#sel1").change(function() {
    		var type = $("#sel1").val();
    		var col = $("#sel2").val();

    		$("#type").val(type);
    		$("#col").val(col);
    		$("#sort").val("");
    		$("#sortType").val("");
        	$("#form2").submit();
    	});
    	$("#sel2").change(function() {
    		var type = $("#sel1").val();
    		var col = $("#sel2").val();

    		$("#type").val(type);
    		$("#col").val(col);
    		$("#sort").val("");
    		$("#sortType").val("");
        	$("#form2").submit();
    	});
    	
    	$(".orderDetail").click(function() {
    		$(this).parent().children(".moreInfo").toggle();
    	});
    	
    	$("a").click(function(evt) {
    		evt.stopPropagation();
    	});
    	$(".pageButton").click(function() {
    		$("#pageNum").val($(this).attr("page"));
    		
        	$("#form2").submit();
    	});
    	
    });
    </script>
</head>
<body>
<table>
	<table style="margin: 0 8px 0 8px;">
		<tr style="height:10px;">
			<td colspan="3" style="width:100%;"><hr style="border: dotted 0.7px silver;">
			</td>
		</tr>
		<tr style="height:25px;">
			<td colspan="3" style="text-align:center;width:100%;padding:0 10px 0 10px;">
				<div th:insert="common::account"></div>
			</td> 	
		</tr>
		<tr style="height:10px;">
			<td colspan="3" style="width:100%;"><hr style="border: dotted 0.7px silver;">
			</td>
		</tr>
		<tr style="height:10px;">
			<td colspan="3" style="width:100%;text-align:left;padding:0 0 0 10px;">
				<div th:insert="common::nav"></div>
			</td>
		</tr>
		<tr style="height:10px;">
	    	<td colspan="3" style="width:100%;"><hr style="border: dotted 0.7px silver;">
	    	</td>
	    </tr>
		<tr>
    		<td style="text-align:left;width:50%">
    		<form id="form2" name="form2" action="report">
		    	<input type="hidden" th:value="${account}" name = "account"/>
		    	<input type="hidden" id="type" th:value="${type}" name = "type"/>
		    	<input type="hidden" id="col" th:value="${col}" name = "col"/>
				<input type="hidden" th:value="${sort}" id = "sort" name="sort"/>
				<input type="hidden" th:value="${sortType}" id = "sortType" name="sortType"/>
			    <input type="hidden" id="pageNum" name = "pageNum"/>
	    	</form>
    		</td>
    		<td  colspan="2" style="text-align:right;width:60%">
	    		<span th:text="${pager.totalRecord}"></span>条&nbsp;<span th:if="${pager.pageCount gt 0}"><span th:text="${pager.pageNum}"></span>/<span th:text="${pager.pageCount}"></span></span>
	    		<a class="pageButton" th:page="${pager.prePage}" th:if="${pager.hasPrePage}"
	    			  href="javascript:;">上页</a>
	    		<a class="pageButton" th:page="${pager.nextPage}" th:if="${pager.hasNextPage}" 
	    			 href="javascript:;">下页</a>
    		</td>
    	</tr>
    	<tr style="height:10px;">
	    	<td colspan="3" style="width:100%;"><hr style="border: dotted 0.7px silver;">
	    	</td>
	    </tr>
	    <tr style="height:10px;">
	    	<td style = "width:32%;text-align:center;">
	    		<select id="sel1" class="last_center">
		    		<option th:selected="${type == 'day'}" value="day">&nbsp;日&nbsp;</option>
		    		<option th:selected="${type == 'week'}" value="week">&nbsp;周&nbsp;</option>
		    		<option th:selected="${type == 'month'}" value="month">&nbsp;月&nbsp;</option>
			    </select>
			    <a th:if="${sort=='startDate'&&sortType=='desc'}" th:href="'report?account=' + ${account} + '&type=' + ${type} + '&col=' + ${col} + '&sort=startDate' + '&sortType=asc'">&nbsp;↓&nbsp;</a>
			    <a href="" th:if="${sort=='startDate'&&sortType=='asc'}"  th:href="'report?account=' + ${account} + '&type=' + ${type} + '&col=' + ${col} + '&sort=startDate' + '&sortType=desc'">&nbsp;↑&nbsp;</a>
			    <a th:if="${sort!='startDate'}"  th:href="'report?account=' + ${account} + '&type=' + ${type} + '&col=' + ${col} + '&sort=startDate' + '&sortType=desc'">&nbsp;○&nbsp;</a>
		    </td>
       		<td th:if="${type!='summary'}"  style="width:34%;text-align:right;">
	       		<select id="sel2" class="last_center">
		    		<option th:selected="${col == 'balance'}" value="balance">余额</option>
		    		<option th:selected="${col == 'lots'}" value="lots">&nbsp;交易量</option>
		    		<option th:selected="${col == 'orderNum'}" value="orderNum">订单数</option>
			    </select>
			    <a th:if="${sort==col&&sortType=='desc'}" th:href="'report?account=' + ${account} + '&type=' + ${type} + '&col=' + ${col} + '&sort=' + ${col} + '&sortType=asc'">&nbsp;↓&nbsp;</a>
			    <a href="" th:if="${sort==col&&sortType=='asc'}"  th:href="'report?account=' + ${account} + '&type=' + ${type} + '&col=' + ${col} + '&sort=' + ${col} + '&sortType=desc'">&nbsp;↑&nbsp;</a>
			    <a th:if="${sort!=col}"  th:href="'report?account=' + ${account} + '&type=' + ${type} + '&col=' + ${col} + '&sort=' + ${col} + '&sortType=desc'">&nbsp;○&nbsp;</a>
       		</td>
       		<td style="text-align:right;padding:0 5px 0 0;">
       			<span>利润</span>
       			<a th:if="${sort=='realProfit'&&sortType=='desc'}" th:href="'report?account=' + ${account} + '&type=' + ${type} + '&col=' + ${col} + '&sort=realProfit' + '&sortType=asc'">&nbsp;↓&nbsp;</a>
			    <a href="" th:if="${sort=='realProfit'&&sortType=='asc'}"  th:href="'report?account=' + ${account} + '&type=' + ${type} + '&col=' + ${col} + '&sort=realProfit' + '&sortType=desc'">&nbsp;↑&nbsp;</a>
			    <a th:if="${sort!='realProfit'}"  th:href="'report?account=' + ${account} + '&type=' + ${type} + '&col=' + ${col} + '&sort=realProfit' + '&sortType=desc'">&nbsp;○&nbsp;</a>
       			
       		</td>
	    </tr>
	    <tr>
		    <td>
		    <table th:each="item : ${pager.data}">
		    	
			    <tr style="height:10px;">
		    		<td colspan="3" style="width:100%;"><hr style="border: dotted 0.7px silver;">
		    		</td>
			    </tr>
			    <tr style="height:31px;" th:class="${type!='summary'?'orderDetail':''}">
			        <td style = "width:32%;text-align:left;padding: 0 10px 0 10px" >
			        	<a target="_blank" th:href="'order?account=' + ${account} + '&startDate=' + ${item.startDate} + '&endDate=' + ${item.endDate}" th:text="${item.description}"></a>
			        </td>
		       		<td style="width:34%;text-align:center">
	    				<span th:if="${col=='balance'}" th:text="${item.balance}"></span>
	    				<span th:if="${col=='lots'}" th:text="${item.lots}"></span>
	    				<span th:if="${col=='orderNum'}" th:text="${item.orderNum}"></span>
		       		</td>
		       		<td style = "text-align:right;padding:0 5px 0 0;" >
	    				<span th:class="${item.realProfit>=0?'g':'r'}" th:text="${item.realProfit}"></span>
			        </td>
			    </tr>
			    <tr style="display:none"  class="moreInfo">
					<td style="font-size: 15px;text-align:right;width:85px;">最小利润：</td>
					<td style="font-size: 15px;text-align:right;padding:0 5px 0 0;">
						<span th:if="${item.minRealProfit != null}" th:text="${item.minRealProfit}"></span>
						<span th:if="${item.minRealProfit == null}">-</span>
					
					</td>
					<td style="font-size: 15px;text-align:right;width:85px;">最大利润：</td>
					<td style="font-size: 15px;text-align:right;padding:0 5px 0 0;">
						<span th:if="${item.maxRealProfit != null}" th:text="${item.maxRealProfit}"></span>
						<span th:if="${item.minRealProfit == null}">-</span>
					</td>
				</tr>
				<tr style="display:none"  class="moreInfo">
					<td style="font-size: 15px;text-align:right;width:85px">最小净值：</td>
					<td style="font-size: 15px;text-align:right;padding:0 5px 0 0;">
						<span th:if="${item.minEquity != null}" th:text="${item.minEquity}"></span>
						<span th:if="${item.minEquity == null}">-</span>
					</td>
					<td style="font-size: 15px;text-align:right;width:85px;">最大净值：</td>
					<td style="font-size: 15px;text-align:right;padding:0 5px 0 0;">
						<span th:if="${item.maxEquity != null}" th:text="${item.maxEquity}"></span>
						<span th:if="${item.maxEquity == null}">-</span>
					</td>
				</tr>
				<tr style="display:none"  class="moreInfo">
					<td style="font-size: 15px;text-align:right;width:85px">最小盈亏：</td>
					<td style="font-size: 15px;text-align:right;padding:0 5px 0 0;">
						<span th:if="${item.minProfit != null}" th:text="${item.minProfit}"></span>
						<span th:if="${item.minProfit == null}">-</span>
					</td>
					<td style="font-size: 15px;text-align:right;width:85px;">最大盈亏：</td>
					<td style="font-size: 15px;text-align:right;padding:0 5px 0 0;">
						<span th:if="${item.maxProfit != null}" th:text="${item.maxProfit}"></span>
						<span th:if="${item.maxProfit == null}">-</span>
					</td>
				</tr>
				<tr style="display:none"  class="moreInfo">
					<td style="font-size: 15px;text-align:left;width:125px;">最大预付款：</td>
					<td style="font-size: 15px;text-align:right;padding:0 5px 0 0;">
						<span th:if="${item.maxMargin != null}" th:text="${item.maxMargin}"></span>
						<span th:if="${item.maxMargin == null}">-</span>
					</td>
				</tr>
				<tr style="display:none"  class="moreInfo">
					<td style="font-size: 15px;text-align:left;width:125px;">最小预付款比率：</td>
					<td style="font-size: 15px;text-align:right;padding:0 5px 0 0;">
						<span th:if="${item.minMarginRateStr != null}" th:text="${item.minMarginRateStr}"></span>
						<span th:if="${item.minMarginRateStr == null}">-</span>
					</td>
				</tr>
				<tr style="display:none"  class="moreInfo">
					<td style="font-size: 15px;text-align:right;width:85px">净值：</td>
					<td style="font-size: 15px;text-align:right;padding:0 5px 0 0;">
						<span th:if="${item.equity != null}" th:text="${item.equity}"></span>
						<span th:if="${item.equity == null}">-</span>
					</td>
					<td style="font-size: 15px;text-align:right;width:85px;">盈亏：</td>
					<td style="font-size: 15px;text-align:right;padding:0 5px 0 0;">
						<span th:if="${item.profit != null}" th:text="${item.profit}"></span>
						<span th:if="${item.profit == null}">-</span>
					</td>
				</tr>
				<tr style="display:none" th:if="${item.all != null}" class="moreInfo">
					<td style="text-align:right;width:85px">
						<a style="font-size:15px;" target="_blank"  th:href="'fund?account=' + ${account}  + '&startDate=' + ${item.startDate} + '&endDate=' + ${item.endDate} + '&type=all'">资金：</a>
					</td>
					<td style="font-size: 15px;text-align:right;padding:0 5px 0 0;">
						<span th:text="${item.all}"></span>
					</td>
					<td style="font-size: 15px;text-align:right;width:85px;"></td>
					<td style="font-size: 15px;text-align:right;padding:0 5px 0 0;">
						<span></span>
					</td>
				</tr>
				<!-- 
				<tr th:if="${item.dayResults.size > 0}" style="display:none;height:8px;"  class="moreInfo">
			    	<td colspan="3" style="width:100%;">
			    	</td>
			    </tr>
				<tr style="display:none;" class="moreInfo">
					<td>
						<table  th:each="result : ${item.dayResults}" >
						    <tr style="height:28px">
								<td style="width:32%;text-align:left;padding: 0 10px 0 10px" >
						        	<a target="_blank" th:href="'order?account=' + ${account} + '&startDate=' + ${result.startDate} + '&endDate=' + ${result.endDate}"
						        		 th:text="${result.description}"></a>
						        </td>
						        <td style="width:34%;text-align:right;">
				    				<span th:if="${col=='balance'}" th:text="${result.balance}"></span>
				    				<span th:if="${col=='lots'}" th:text="${result.lots}"></span>
				    				<span th:if="${col=='orderNum'}" th:text="${result.orderNum}"></span>
					       		</td>
					       		<td style = "width:34%;text-align:right;padding:0 5px 0 0;" >
				    				<span th:class="${result.realProfit>=0?'g':'r'}"  th:text="${result.realProfit}"></span>
						        </td>
							</tr>
						</table>
					</td>
				</tr>
				<tr th:if="${item.dayResults.size > 0}" style="display:none;height:10px;"  class="moreInfo">
			    	<td colspan="3" style="width:100%;">
			    	</td>
			    </tr> -->
		    </table>
		    </td>
	    </tr>
	    <tr style="height:10px;">
	    	<td colspan="3" style="width:100%;"><hr style="border: dotted 0.7px silver;">
	    	</td>
	    </tr>
	    <tr th:if="${pager.totalRecord > 0}">
    		<td style="text-align:left;width:40%">
		    
    		</td>
    		<td  colspan="2" style="text-align:right;width:60%">
    		<span th:text="${pager.totalRecord}"></span>条&nbsp;<span th:if="${pager.pageCount gt 0}"><span th:text="${pager.pageNum}"></span>/<span th:text="${pager.pageCount}"></span></span>
    			<a class="pageButton" th:page="${pager.prePage}" th:if="${pager.hasPrePage}"
	    			  href="javascript:;">上页</a>
	    		<a class="pageButton" th:page="${pager.nextPage}" th:if="${pager.hasNextPage}" 
	    			 href="javascript:;">下页</a>
    		</td>
    	</tr>
    	<tr th:if="${pager.totalRecord > 0}" style="height:10px;">
	    	<td colspan="3" style="width:100%;"><hr style="border: dotted 0.7px silver;">
	    	</td>
	    </tr>
	</table>
</body>
</html>